* {
	margin: 0;
	padding: 0;
}
.conteiner {
	display: flex;
	flex-direction: row;
	height: 100vh;
}
.login {
	margin: auto;
	margin-top: 202px;
}
.conteiner img {
	height: 100%;
	width: auto;
	object-fit: cover;
}
.conteiner h1 {
	margin-bottom: 10px;
	font-size: 32px;
}
.conteiner h4 {
	margin-bottom: 59px;
	font-size: 16px;
}
.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
}
.login label {
	font-size: 14px;
	font-family: Poppins;
	font-weight: 700;
	font-style: Medium;
	line-height: 100%;
	letter-spacing: 0%;
}
.login input {
	height: 32px;
	opacity: 1;
	border-radius: 1px;
	border: 2px solid #d9d9d9;
	border-radius: 10px;
	padding-left: 10px;
	outline: none;
}
.form-checkbox {
	display: flex;
	flex-direction: row;
	gap: 6px;
	margin-bottom: 30px;
}
.form-checkbox input {
	width: 12px;
	height: 12px;
}
.form-checkbox label {
	font-family: Poppins;
	font-weight: 700;
	font-style: Medium;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0%;
}
.buttonLogin {
	width: 404px;
	padding: 6px 0;
	opacity: 1;
	color: white;
	border: none;
	border-radius: 10px;
	background-color: #3a5b22;
	margin-bottom: 59px;
}
.secOr {
	display: flex;
	align-items: center;
	margin: 20px 0;
	justify-content: center;
	margin-bottom: 61px;
}

.textOr {
	margin: 0 15px;
	font-family: Poppins;
	font-weight: 500;
	font-size: 14px;
	color: #666;
	position: relative;
	padding: 0 15px;
}

.textOr::before,
.textOr::after {
	content: '';
	position: absolute;
	top: 50%;
	height: 1px;
	background-color: #ddd;
	width: 163px;
}

.textOr::before {
	right: 100%;
	margin-right: 15px;
}

.textOr::after {
	left: 100%;
	margin-left: 15px;
}
.btnSingInWith {
	display: flex;
	flex-direction: row;
	gap: 23px;
	margin-bottom: 25px;
}
.buttonSingInWith {
	display: flex;
	align-items: center;
	gap: 10px;
	font-family: Poppins;
	font-weight: 500;
	font-style: Medium;
	font-size: 13px;
	line-height: 100%;
	letter-spacing: 0%;
	padding: 7px 24px;
	position: relative;
	background-color: white;
	border-radius: 10px;
	border: 2px solid #d9d9d9;
}

.buttonSingInWith img {
	width: 24px;
	height: 24px;
}
.signIn {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.signIn p,
.signIn p {
	font-family: Poppins;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	margin: 0;
}
.signIn a {
	text-decoration: none; /* Убираем подчеркивание */
	color: #0f3dde;
}
.signIn a:hover {
	text-decoration: underline;
}
